.main {
  background-color: rgb(168, 168, 236);
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  color: rgb(26, 72, 121);
  font-size: 4rem;
  margin-left: 100px;
  padding-top: 70px;
  font-weight: 800;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  width: 340px;
  color: rgb(26, 72, 121);
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(26, 72, 121);
  padding: 10px 0px;
}
